[Desktop Entry]
Name=emacs
Comment=EXWM + Polybar
Exec=sh /usr/local/bin/startexwm
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm
