/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILEE}}
 * @created     : {{TIMESTAMP}}
 */

#ifndef __{{MACRO_GUARD}}__
#define __{{MACRO_GUARD}}__


class {{CAMEL_CLASS}}
{
    public:
        {{CAMEL_CLASS}} ({{CURSOR}});
        virtual ~{{CAMEL_CLASS}} ();
    private:
        /* private data */
};

#endif  // __{{MACRO_GUARD}}__
